@charset "UTF-8";

* {
	margin: 0;
}

.resize {
	width: 100%;
	height: 100%;
}

.bottomDiv {
	width: 100%;
	height: 100%;
	position: relative;
}

.bottomDiv div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
}

.bottomDiv #moveKid{
	position: absolute;
	top: 29%;
	left: 64%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

#logoImg {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
	text-align: center;
}

.moveAreaDiv {
	display: flex;
	margin: auto;
	text-align : center;
	width: 100%;
	height: 100%;
	position: absolute;
}