*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: inline;
  background: rgba(120, 161, 226, 0.2);
  align-items: center;
  justify-content: center;
}

/* -------------header */
.header {
	font-family:'Do Hyeon', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #78A1E2;
  color:#000;
  z-index: 0;
  height: 120px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  display: inline-block;
}

/* ----------------sidebar */

#boardside * {
	font-family:'Do Hyeon', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
  }
  
  #boardside .sidebar {
    background: #bbb;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    z-index: 1;
    transition: all 0.35s;
  }
  
  #boardside .sidebar .cont {
    position: fixed;
    top: 15%;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #bbb;
    z-index: 5;
  }
  
  #boardside .sidebar .cont > ul { margin: 20px;  }
  #boardside .sidebar .cont > ul >li {
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    list-style: none;
  }
  #boardside .sidebar .cont > ul >li > a {
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
  }
  
  #boardside .sidebar .cont > ul > li:active,
  #boardside .sidebar .cont > ul > li:hover,
  #boardside .sidebar .cont > ul > li:focus {
    background-color: #373737;
  }
  
  #boardside input[id="menuicon"]{
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
  }
  
  #boardside input[id="menuicon"]:checked + label + div {
    left: 0;
  }
  
  #boardside input[id="menuicon"] + label {
    display: block;
    width: 15px;
    height: 17px;
    position: fixed;
    cursor: pointer;
    margin: 35px;
  }
  
  #boardside input[id="menuicon"]:checked + label {
    z-index: 2000;
  }
  
  #boardside input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
  }
  
  #boardside input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
  }
  
  #boardside input[id="menuicon"] + label span:nth-child(2) {
    top: 51%;
    
    transform: translateY(-60%);
  }
  
  #boardside input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
  }
  
  #boardside input[id="menuicon"]:checked + label span {
    background: #fff;
  }
  
  #boardside input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  #boardside input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #boardside input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  
  #boardside .background {
    position: fixed;
    top: 0%;
    right: 0;
    width: calc(100% - 300px);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all .35s;
    opacity: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
  
input#menuicon.hidden {
  visibility: hidden;
}

  input#menuicon:checked ~ .sidebar .cont { left: 0; transition: all .35s; }
  input#menuicon:checked ~ .sidebar .background { 
    opacity: 1;
    visibility: visible;
    transition: all .35s;
}

.header .logoimg {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 160px;
  height: 70px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.header h1 {
  position: absolute;
  left: 10%;
  font-size:30px;
  font-weight:normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header .btnright {
  position: absolute;
  right: 0%;
  top: 35px;
  height: auto;
  margin-right: 80px;
  display: inline-block;
  margin-left: 100px;
}

.custom-btn {
	font-family:'Do Hyeon', sans-serif;
  width: 100px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-3 {
  background: rgb(148, 185, 255);
  background: linear-gradient(0deg, rgb(187, 213, 255) 0%, rgb(120, 161, 226) 100%);
  width: 100px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  margin-left: 10px;
  font-family:'Do Hyeon', sans-serif;
  font-size: 17px;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after { /* ���콺 ȣ�� �� ������, �� ���� */
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  /* background: #ccc; */
  background: rgb(188, 207, 255);
  transition: all 0.2s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgb(188, 207, 255);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(188, 207, 255);
  transition: all 0.2s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button{
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;
}
.wrapper{
	font-family:'Do Hyeon', sans-serif;
  left: calc(25%);
  z-index: -5;
  position: relative;
  margin: 150px 0 45px 0;
  width: 50%;
  height: 600px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.center {
	align-items: center;
}

.small {
	height: 500px;
	width: 45%;
	left: calc(27.5%);
}
.right {
	text-align: right;
}


.wrapper hr {
  position: relative;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.wrapper .nameinfo {
	display: flex;
	flex-direction: row;
}
.smallbutton {
	width: 20px;
	margin: 0 50px 0 50px;
	align-items: center;
}
.wrapper .name{
  font-size: 30px;
  font-weight: 500;
  color: #31344b;
  margin: 60px 0 20px 0;
}
.wrapper .rightinfo {
	font-size: 20px;
	font-weight:300;
	color: 31344b;
	margin: 5px 0 0 0;
}
.wrapper .nameabout {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}
.wrapper .about{
  color: #44476a;
  font-weight: 400;
  font-size: 20px;
    margin: 5px 0 5px 0;
}
.wrapper .social-icons{
  margin: 15px 0 25px 0;
}
.buttons button:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
}
.wrapper .center{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.click_btns {
	  display: flex;
	  margin: 5px;
}
.click-btn {
	padding: 5px 10px;
	 margin: 5px;
	 font-size: 15px;
}

.wrapper .buttons{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.buttons button{
  position: relative;
  width: 80%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  z-index: 4;
  margin-top: 10px;
}

.buttons button:nth-child(2) {
  margin-left: 20px;
}

.wrapper .social-share{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}
.social-share .row{
  color: #31344b;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
.social-share .row::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}
.row:first-child::before{
  background: none;
}
.social-share .row i.icon-2{
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
  opacity: 1;
  pointer-events: auto;
}

/* 테이블 content */

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 90%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
}

/* footer */
footer {
    height : 300px;
    background-color: #A6A6A6;
    color : white;
    border-top: 1px solid #e3e3e3;
}
#bottom_menu ul {
    padding : 15px 0 0 30px;
    font-weight: bold;
}
#bottom_menu li {
    display: inline;
    margin-right: 20px;
}
footer .items {
position: relative;
  float: left;
  margin : 55px 20px 0 60px;
}

footer .items ul { margin-top: 20px; }
footer .items li { margin-top: 2px; list-style: none; }
footer .phone {
  font-size: 25px;
  font-weight: bold;
}