@charset "utf-8";

#wrap{width: 100%; color: #000;}

/* index 페이지  */
#header{ height:80px;  }
#header .container{margin-top: 10px; border-top: 2px solid #000;}
#header .top{ line-height: 80px}
#header .top .logo{ display: inline-block;  width: 80px; float: left;font-size: 1.7rem; text-align: center;}
#header .top .title{display: inline-block;   width: 200px; float: left;}
#header .top .title h1{font-size: 1.7rem; text-align: center;}
#header .top .logoin-signup {display: inline-block;  width: 250px; float: right;}
#header .top .logoin-signup ul li{float: left; padding: 0 15px; font-size: 1.0rem;}
#header .top .logoin-signup ul li:first-child{border-right-style: dashed;border-right-width: 1px;} 
#header .top .logoin-signup ul li a{ border: 1px solid #000;padding: 5px;border-radius: 10%;}

#slide-dots{height: 70px;}
#slide-dots .container{border-top: 3px solid #222; }
#slide-dots ul.dots{ text-align: center;line-height: 70px;}
#slide-dots ul.dots li{display: inline-block; width: 15px; height: 15px; margin: 5px;}
#slide-dots ul.dots li button{font-size: 0; line-height: 0; display: block; width: 12px; height: 12px; cursor: pointer;background: #fff; border-radius: 50%; border: 1px solid #A5A5A5; }
#slide-dots ul.dots li.active button{background: #A5A5A5;}

.row{ width: 100%; position: relative;text-align: center;}
.row .col-1{width: 5%; display: inline-block;}
.row .col-4{ width: 25%; margin:0 2.5%; display: inline-block;}
.row .col-12{ width: 74%; margin:0; display: inline-block; }
/* 컨텐츠 레이아웃 */
.container{width: 1200px; margin: 0 auto; height: inherit; border-left: 2px solid #222;border-right: 2px solid #222}

#contents .container {padding-bottom: 69px;border-top: 1px solid #424242; border-bottom: 2px solid #000; padding-top: 20px;}
#contents .container .row .col-4 .board{border: 2px solid #424242; border-radius: 30px;}
#contents .container .board .board-title{height: 60px; border-bottom: 2px solid #424242; position: relative; line-height: 60px;}
#contents .container .board .board-title div{position: absolute; width: 33px; top:11px; left: 20px;}
#contents .container .board .board-title div img{width:100%;}
#contents .container .board .board-title h3{font-size: 1.4rem; text-align: center;}
#contents .container .board .list{ padding: 0px 25px; background-color: none; margin-bottom: 80px;}
#contents .container .board .list ul li{font-size: 1rem; line-height: 3;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}


/* sub_list 페이지  */
table {display: block;max-width: -moz-fit-content;max-width: fit-content;margin: 0 auto;overflow-x: auto;white-space: nowrap;}
td{max-width:380px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#contents .container.sub_list { padding-top: 10px; border-bottom: 0px;}

#contents .container .row .col-12 .table-head{ text-align: left;position: relative; height: 80px; border-bottom: 1px solid #424242; }
#contents .container .row .col-12 .table-head >div{margin-top: 20px;}
#contents .container .row .col-12 .table-head >div span{position: absolute; top: 7px;left: 0xp;}
#contents .container .row .col-12 .table-head >div span i{font-size: 1.5rem;}
#contents .container .row .col-12 .table-head span{position: absolute; top: 0px; left: 0px;}
#contents .container .row .col-12 .table-head h2{font-size: 1.5rem;padding-left: 30px;}
#contents .container .row .col-12 .table-head .table-sub-n{font-size: 1.0rem;  padding-left: 50px;}
#contents .container .row .col-12 .table-head div button{position: absolute;top:10px; right: 10px; padding:5px 18px; font-size: 1.2rem; border: 1px solid #000;}
#contents .container .row .col-12 .table-div{margin-top: 15px;}
#contents .container .row .col-12 .table-div table{width: 100%;}
#contents .container .row .col-12 .table-div table thead th{font-size: 1.2rem; font-weight: 400;}
#contents .container .row .col-12 .table-div table tbody tr{height: 40px;}
#contents .container .row .col-12 .table-div table tbody td{font-size: 0.9rem;padding: 2px 15px;text-align: left; }


.pagination{padding-top: 20px;}
.pagination a{text-decoration: none;color: black;  padding: 8px 10px;text-decoration: none;}
.pagination a.active{border:  1px solid;}

#footer .container{ border-top: 0px;}
#footer .container .row .col-12{background-color: #EDEDED;min-height: 100px;}
#footer .container .search {padding-top: 20px; padding-bottom: 10px;}
#footer .container .search .btn{padding: 4px 18px;border: 1px solid #000; font-size: 1rem;background: #ededed;}

#footer .container .search input{padding: 4px 2px;border: 1px solid #000; font-size: 0.8rem; background: #ededed; width: 300px; height: 34px;}
#footer .container .search .search-btn{ position: relative;left: -4px; top: 1px;}
#footer .container .search  #daterange{ left: -4px; width: 190px;padding: 0px 1px;}
   
.daterangepicker .table-condensed tbody tr td.available:first-child {
     color: rgb(196, 26, 26);
}
 
.daterangepicker .table-condensed tbody tr td.available:last-child {
     color: rgb(46, 46, 154);
}
.daterangepicker .table-condensed tbody tr td.off {
     color: #999  !important;
     opacity:0.5;
      
}
   